<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="/public/js/submit-reset.js" defer></script>
        <link rel="stylesheet" href="/public/css/style.css" />
        <title>Reset Password | Bizwhiz</title>
    </head>
    <body>
        <%- include("partials/header") %>
        <h1>Reset Password</h1>
        <p id="message"></p>
        <form id="reset-password-form">
            <input type="email" id="email" placeholder="Email" required />
            <button>Submit</button>
        </form>
        <%- include("partials/footer") %>
    </body>
</html>
