@import url('https://fonts.googleapis.com/css2?family=Paprika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --text-size: 1rem;
    --header-height: 60px;
    --primary: #800080;
    --secondary: #2274A5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

h1 {
    margin-top: calc(var(--header-height) + 10px);
    margin-bottom: 10px;
    font-family: "Paprika";
    font-size: calc(var(--text-size) * 2.25);
    text-align: center;
    color: var(--secondary);
}

h2 {
    font-family: "Paprika";
    font-size: calc(var(--text-size) * 2);
}

h3 {
    font-family: "Paprika";
    font-size: calc(var(--text-size) * 1.75);
}

h4 {
    font-family: "Paprika";
    font-size: calc(var(--text-size) * 1.5);
}

h5 {
    font-family: "Paprika";
    font-size: calc(var(--text-size) * 1.25);
}

h6 {
    font-family: "Paprika";
    font-size: var(--text-size);
}

p {
    font-size: var(--text-size);
}

button {
    background-color: var(--secondary);
    font-weight: bold;
    color: white;
}

header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: var(--header-height);
    background-color: var(--primary);
    color: white;
}

#menu-icon {
    float: right;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: var(--primary);
    color: white;
}

footer p {
    font-size: 0.75rem;
    text-align: center;
    padding: 5px;
}
